/* This effects all code unless overridden by classes or ID tags */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* effects the body portion of the code unless overridden */
body {
    background-color: #d9dcd6;
}

/* I believe this affects the anchor tags, when I commented it out, it messed with my nav bar */

a {
    color: #ffffff;
    text-decoration: none;
}

/* The following code effects the behavior of the paragraph tags */
p {
    font-size: 16px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* This section of code regulates the  */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*The website I read said that <span> isnt good semantic HTML, so I used the <em> tab and modified the CSS so that it appears normally on the screen */
.header h1 .seo {
    color: #d9dcd6;
    font-style: normal;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
} 
/* This controls the behavior of the unordered list */
.header ul {
    list-style-type: none;
    float: right;
}
/* This controls the behavior of the individual list items in the unordered list */
.header ul li {
    display: inline-block;
    margin-left: 150px;
}

/*The following code controls the large picture at the top of the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* regulates the behavior of the content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* regulates the behavior of the benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    display: inline-block;
    padding-bottom: 150px;
}
/* The .aside tag applies to the benefits-lead, benefits-brand and benefits-cost sections */
.aside {
    margin-bottom: 32px;
    color: #ffffff;
}

/* asideH3 formats the H3 headings for lead generation, brand awareness and cost management */
.asideH3 {
    margin-bottom: 10px;
    text-align: center;
}

/* asideImg includes lead generation, brand awareness and cost management */
.asideImg {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The following code provides styling to the body of the search engine opimization, online reputation management and Social media marketing sections */
.section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;  
}

/* the following code provides styling to the images from the search engine opimization, online reputation management and Social media marketing sections */
.secImg {
    max-height: 200px;
}

/* The following code provides styling to the h2 headings of the Search engine opimization, online reputation management and Social media marketing sections */
.secH2 {
    margin-bottom: 20px;
    font-size: 36px;   
}

/* The remainder of the code below formats the footer at the bottom of the page */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}